


.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 110px;
  width: 80%;
  display: flex;
  align-items: center;
  padding-right: 10px;
  justify-content: center;
}


header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  font-size: 1.5rem ;
  padding: 5px 20px;

}

header a:hover {
  color: #161616;
}